<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>Atmiņas spēle</title>
    <link href="/static/style.css" rel="stylesheet">
</header>
<body>
    <div class="ietvars"><!--pelēkais laukums-->
        <div class="galviene"><!--virsraksts un meņuška-->
            <h1>Atmiņas spēle</h1>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/spele">Spēle</a></li>
                <li><a href="/tops">Tops</a></li>
                <li><a href="/par">Par projektu</a></li>
            </ul>
        </div><!--aizver galvieni-->
        <div class="saturs">
           <p> Projekts Atmiņas spēle ir mūsu programmēta spēle, kuras galvenais mērķis ir trenēt spēlētāja atmiņu un koncentrēšanās spējas. Spēlē uz ekrāna tiek attēlotas vairākas kārtis ar vienādiem simboliem vai attēliem, kas sākumā ir aizvērtas. Spēlētājam ir jāatver divas kārtis pēc kārtas un jāatceras to atrašanās vieta, lai atrastu visus vienādos pārus. </p>

           <p> Šī spēle tika izveidota, izmantojot programmēšanas prasmes, kuras es apguvu projekta laikā. Es izstrādāju spēles loģiku, kas pārbauda, vai izvēlētās kārtis sakrīt, kā arī pievienoju funkcijas, kas skaita gājienus un parāda, kad spēle ir pabeigta. Programmēšanas procesā man bija jādomā par to, kā padarīt spēli saprotamu, interesantu un viegli lietojamu. </p>

           <p> Strādājot pie projekta “Atmiņas spēle”, es attīstīju savas problēmu risināšanas un programmēšanas prasmes. Projekts man palīdzēja labāk saprast, kā veidot interaktīvas programmas un kā darbojas spēļu mehānika. Rezultātā es izveidoju spēli, kuru var spēlēt un kas vienlaikus palīdz trenēt atmiņu. </p>






        </div><!--aizver saturs-->




    </div><!--aizver ietvars-->
</body>




</html>